@using SocialNewtwork.Core.Application.ViewModels.UsersViewModels

@model string

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-8 offset-2">




                <h2>@Model</h2>
                <div class="justify-content-between">

                    <a class="btn btn-outline-primary">Sign In </a>

                </div>
            </div>
        </div>
    </div>
</div>
