@using SocialNewtwork.Core.Application.ViewModels.UsersViewModels;

@model ForgotPasswordViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-primary text-light text-center">
                        <h4>Olvide mi contraseña</h4>
                    </div>
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="card-body">
                        <form class="form-floating mb-3" method="post" asp-controller="Login" asp-action="ForgotPassword">

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" asp-for="Email" placeholder="gsilveriogmail.com">
                                <label for="floatingInput">Ingresa el correo de tu cuenta GeX</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary float-end ms-2">Enviar Solicitud</button>
                           <a class="btn btn-warning float-end" asp-controller="Login" asp-action="Index">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>