@using SocialNewtwork.Core.Application.ViewModels.UsersViewModels;

@model LoginViewModel

@{
    ViewData["Title"] = "Save LabTest";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-primary text-light text-center">
                        <h4>Inicia Sesión en GeX</h4>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(false,"",new{@class = "text-danger"})
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <form method="post" asp-controller="Login" asp-action="Index">
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label">Correo del Usuario: </label>
                                <input type="text" asp-for="Email" class="form-control" autocomplete="off" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">Contraseña: </label>
                                <input type="password" asp-for="Password" class="form-control" autocomplete="off" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary float-end ms-2">Iniciar Sesión</button>
                            </div>

                            <span class="text-dark">Aun no tienes cuenta? <a class="text-primary" asp-controller="Login" asp-action="Register">Registrate</a> </span>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
