<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-8 offset-2">
                <div class="col-6 offset-3 mb-3 text-center">
                    <img src="https://logos-world.net/wp-content/uploads/2023/08/X-Logo.png" style="width: 300px;" />
                </div>

                <p class="text-center" style="color: green">SE TE HA ENVIADO TU NUEVA CONTRASEÑA POR CORREO. GRACIAS POR USAR GeX</p>

                <a asp-controller="Login" asp-action="Index" class="btn btn-outline-dark d-block mx-auto" style="width: 300px;">IR AL LOGIN</a>
            </div>
        </div>
    </div>
</div>
