@using SocialNewtwork.Core.Application.ViewModels.UsersViewModels;

@model ResetPasswordViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-primary text-light text-center">
                        <h4>Inicia Sesión en GeX</h4>
                    </div>
                    <div class="card-body">
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <form class="form-floating mb-3" method="post" asp-controller="Login" asp-action="ResetPasswordPost">

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" asp-for="Email" placeholder="gsilveriogmail.com" autocomplete="off">
                                <label for="floatingInput">Ingresa el correo de tu cuenta GeX</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" asp-for="Password" placeholder="gsilveriogmail.com">
                                <label for="floatingInput">Ingrese la nueva contraseña</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>  
                            
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="gsilveriogmail.com">
                                <label for="floatingInput">Confirme la contraseña</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <input type="hidden" asp-for="Token"/>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary float-end ms-2">Cambiar Contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>